.App {
  text-align: center;
  
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.bodyBlock {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-evenly;
}