.zomatoList {
    width: 33vw;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-evenly;
    text-align: left;
}

.zomatoList li {
    text-align: left;
    color: white;
}